{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}



<link href="{% static "img/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "img/jquery.fancybox.min.css" %}" rel="stylesheet">
<link href="{% static "img/lightgallery.css" %}" rel="stylesheet">
<link href="{% static "img/preloader.css" %}" rel="stylesheet">
<link href="{% static "img/style2.css" %}" rel="stylesheet">
<main id="main-content">
    <div itemscope="" itemtype="http://schema.org/Product">
        <meta itemprop="availability" content="InStock">
        <meta itemprop="brand" content="Велосипеды в Нур-Султане (Астане)">
        <div style="display: none" itemtype="http://schema.org/AggregateOffer" itemscope="" itemprop="offers">
          <meta content="974" itemprop="offerCount">
          <meta content="2214000" itemprop="highPrice">
          <meta content="0" itemprop="lowPrice">
          <meta content="KZT" itemprop="priceCurrency">
        </div>
        <section class="main-container inner container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="main-heading inner">Велосипеды в Нур-Султане (Астане)</h1>
            </div>
            <div class="col-xs-12 col-lg-9">
              
              <div class="row div_to_load_products">
                {% for product in products %}
                <div class="product_card col-md-4 col-sm-6 col-xs-6">
                  <div class="product-col">
                    <div id="product-7883" class="product-info-floater">
                      <div class="left-part">
                        {% if product.available %}
                        <div class="ware-badge on-ware">
                            <i class="fa fa-check"></i> Есть в наличии
                        </div>
                        {% else %}
                        <div class="ware-badge not-on-ware">
                            <i class="fa fa-remove"></i> Нет в наличии
                        </div>
                        {% endif %}
                      </div>
                      <div class="right-part"> <a class="difference"> <span
                            data-diff="{{ product.sku }}"></span> </a> </div>
                      <div class="colors-block"><span class="imagecheck-holder"> <img
                            src="{% static "img/3.jpg" %}"
                            class="imagecheck"> </span><span class="imagecheck-holder active_one"> <img
                            src="{% static "img/3400.jpg" %}"
                            class="imagecheck"> </span></div>
                    </div>
                    <div class="image" itemscope="" itemtype="http://schema.org/ImageObject"> <a
                        href="{{ product.get_absolute_url }}"
                        title="{{ product.name }}"> <span class="product-more">Подробнее</span><img
                          class="normal_view"
                          src="{{ product.image }}"
                          alt="{{ product.name }}" loading="lazy" itemprop="contentUrl">
                        <img class="hover_view"
                          src="{{ product.image }}"
                          alt="{{ product.name }}" loading="lazy"></a>
                      <meta itemprop="name" content="{{ product.name }}">
                      <meta itemprop="author" content="Xtrade.com.kz">
                      <meta itemprop="description" content="">
                    </div>
                    <div class="rate_holder"> 
                        <span class="star_rating"> 
                            <i class="fa fa-star filled-star"></i>
                            <i class="fa fa-star filled-star"></i>
                            <i class="fa fa-star filled-star"></i>
                            <i class="fa fa-star filled-star"></i>
                            <i class="fa fa-star-o unfilled-star"></i>
                        </span>
                        <span>{{ product.star }}</span><span class="hidden"></span> 
                    </div>
                    <div class="short-card-desc"></div> <a class="product-title"
                      href="{{ product.get_absolute_url }}"
                      title="{{ product.name }}"> <span>{{ product.name }}</span> </a>
                    <div class="space-filler"></div>
                    <div class="price-and-button">
                      <div class="price"> <span class="pr_info">
                          <!--Цена за шт-->
                        </span> <span id="the_price-7883">{{ product.price }}</span> тг</div>
                      <div>
                        <div class="amount_controller">
                          <div class="dynamic_price">
                              <span class="the_price_d" data-product="{{ product.sku }}">{{ product.price }}</span> тг</div> 
                              <a class="amount_controller_btn">
                                <img src="{% static "img/minus_btn.png" %}"></a>
                          <input type="number" name="quantity" min="1" max="1" value="1" size="2" id="add_to_cart_input-7883" class="add_to_cart_input" > 
                          <a>
                            <img src="{% static "img/plus_btn.png" %}"></a>
                        </div> 
                        
                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                            {% csrf_token %}
                            {{ cart_product_form }}
                            <button type="submit" class="btn btn-cart" >
                                В корзину 
                            </button>
                        </form>
                      </div>
                    </div>
                    <br>
                    <div>
                      <div class="credit-row grid_credit credit-kaspi">
                        <div class="ks-widget" 
                        data-template="flatButton" 
                        data-merchant-sku="{{ product.sku }}"
                        data-merchant-code="9818048"
                        data-city="710000000" 
                        data-style="desktop" 
                        id="ks-l1elsifl">
                        </div>
                      </div>
                    </div>
                    <div class="card-relative">
                      <div class="card-bottom-block">
                        <div class="specs-row">
                            <div><span>Производитель:</span> {{ product.producer }}</div>
                            <div><span>возрастная группа :</span> {{ product.age_group }} <small></small></div>
                            <div><span>размер рамы:</span> {{ product.razmer }} </div>
                            <div><span>цвет:</span> {{ product.color }} <small></small></div>
                         
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              
            </div>
          </div>
        </section>
      </div>
</main>
<script>
(function(d, s, id) {
    var js, kjs;
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://kaspi.kz/kaspibutton/widget/ks-wi_ext.js';
    kjs = document.getElementsByTagName(s)[0]
    kjs.parentNode.insertBefore(js, kjs);
}(document, 'script', 'KS-Widget'));
</script>

<script
  src="{% static "scripts/jquery-2.2.1.min.js" %}"></script>
<script
  src="{% static "scripts/owl.carousel.js" %}"></script>
<script
  src="{% static "scripts/bootstrap.min.js" %}"></script>
<script
  src="{% static "scripts/jquery.fancybox.min.js" %}"></script>
<script
  src="{% static "scripts/lightgallery.js" %}"></script>
<script
  src="{% static "scripts/lg-fullscreen.js" %} "></script>
<script
  src="{% static "scripts/lg-thumbnail.js" %} "></script>
<script
  src="{% static "scripts/lg-video.js" %} "></script>
<script
  src="{% static "scripts/lg-autoplay.js" %} "></script>
<script
  src="{% static "scripts/lg-zoom.js" %} "></script>
<script
  src="{% static "scripts/lg-hash.js" %} "></script>
<script
  src="{% static "scripts/mask.js" %}"></script>
<script
  src="{% static "scripts/lg-pager.js" %} "></script>
<script
  src="{% static "scripts/jquery.lazy.min.js" %}"></script>
<script
  src="{% static "scripts/js.cookie.min.js" %}"></script>
<script
  src="{% static "scripts/scripts.js" %}"></script>
<script>window.dataLayer = window.dataLayer || [];</script>
{% endblock %}
