{% extends "shop/base.html" %}
{% load static %}

{% block title %} Гарантия и возврат {% endblock %}

{% block content %}


<main id="main-content">
    <div class="ks_wrap"><section class="kss_breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList"><div class="container"><div class="row align-items-center m-0"><ul><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="file:///C:/Users/22706/Desktop/X-place/X-place.kz/X-Place.html" class="kss_home" itemprop="item"><meta itemprop="name" content="Главная"><meta itemprop="position" content="1"></a></li><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="file:///C:/Users/22706/Desktop/X-place/O%20company/Ocompany.html" itemprop="item"><span itemprop="name">О компании</span><meta itemprop="position" content="2"></a></li><li><span class="last">Гарантия и возврат</span></li></ul></div></div></section></div><!-- internal navigation breadcrumbs --><!-- plugin hook: 'frontend_header' -->  <div class="cols-2"><div class="sidebars-outer">
    
                            </div>
            <div class="js-content content content-block  with-left-sidebar   " style="min-height: 1669px;">
                <div id="page" role="main"><h3>Гарантия</h3>

    <p><strong>Гарантийный срок</strong> - это период, в течение которого, в случае обнаружения в товаре недостатка, изготовитель обязан удовлетворить требования потребителя относительно обнаруженных недостатков товара.<br>На все товары в нашем магазине установлены гарантийные сроки. Уточнить какой гарантийный срок установлен на конкретный товар можно непосредственно на сайте производителя.</p>


    <p>Если у вас возникли проблемы с приобретенным у нас товаром - свяжитесь с нами по электронной почте (shop@extreme-place.ru).</p>

    <hr>

    <h3>Возврат товара</h3>

    <p>Если вы приобрели у нас товар и он вам не подошел, то вы можете вернуть или обменять его в течении <strong>14 дней</strong> с момента покупки, при соблюдении следующих условий:</p>

    <ul> 

    <li>товар не эксплуатировался, сохранены товарный вид, упаковка со всеми ярлыками и документы подтверждающие покупку товара (кассовый, товарный или электронный чек)</li> 

    <li>товар не входит в <a href="http://www.consultant.ru/document/cons_doc_LAW_17579/c8b966271331ed0f59b793d7144df9b88335c640/" rel="nofollow" target="_blank">перечень</a> продуктов надлежащего качества, не подлежащих возврату и обмену</li>

    </ul>


    <h4>Возврат товаров в Нур-Султане:</h4>

    <p>Для оформления возврата товара необходимо приехать в нашу мастерскую у м. Нагорная. </p>

    <ul> 

    <li>паспорт или документ удостоверяющий личность</li> 

    <li>документы подтверждающие покупку (кассовый, товарный или электронный чек)</li> 

    </ul>

    <h4>Возврат товаров из регионов:</h4>

    <p><strong>Для возврата товара напишите нам письмо</strong> по электронной почте xtrade010@gmail.com или по номеру телефона, указав номер заказа и товары которые вы желаете вернуть, а также причину возврата. Если у товара Вы обнаружили дефекты, приложите фото. Если пришел не тот товар,&nbsp;что Вы заказывали, то оплата пересыла будет за нас счет. Если возврат происходит по каким-то другим причинам, то пересыл к нам Вы оплачиваете самостоятельно.</p>

    <h3>Возврат денежных средств</h3>

    <p>Возврат денег производится тем же средством платежа каким и оплачивали:</p>

    <ul> 

    <li>наличные - возврат наличными в кассе магазина</li> 

    <li>картой в магазине - возврат на карту которой оплачивали. При оплате Apple/Google/Samsung Pay возврат производится с тем же устройством, которым оплачивали</li> 

    <li>оплата на сайте - возврат осуществляется способом выбранным при оплате</li> 

    </ul></div>
    <script>
    var uni_page_name="Гарантия и возврат";
    </script>

                </div>
            </div>
        
</main>
{% endblock %}