
{% extends "shop/base.html" %}
{% load static %}

{% block title %} О компании X-Trade {% endblock %}

{% block content %}

    
<main id="main-content">
    <div class="ks_wrap"><section class="kss_breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList"><div class="container"><div class="row align-items-center m-0"><ul><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="file:///C:/Users/22706/Desktop/X-place/X-place.kz/X-Place.html" class="kss_home" itemprop="item"><meta itemprop="name" content="Главная"><meta itemprop="position" content="1"></a></li><li><span class="last">О компании</span></li></ul></div></div></section></div><!-- internal navigation breadcrumbs --><!-- plugin hook: 'frontend_header' -->  <div class="cols-2"><div class="sidebars-outer">
    
                            </div>
            <div class="js-content content content-block  with-left-sidebar   " style="min-height: 1669px;">
                <ul class="sub-links">
                    <li>
                    <a href="/dostavka">Оплата и доставка</a></li>
                    <li>
                    <a href="">Политика конфиденциальности</a></li>
                    <li>
                    <a href="/garantya">Гарантия и возврат</a></li>
                </ul>
                <div id="page" role="main"><p>«X-Trade» – сеть ремонтных мастерских по Нур-Султану<br></p>

<p>Уже более 2 лет мы занимаемся восстановлением велосипедов. Из года в год мы приобретаем все новые и новые технологии в области ремонта. Мы прошли долгий путь от мастерской на балконе до нескольких точек. В одном месте Вы можете купить велозапчасти,&nbsp;обслужить велосипед.</p>
<p>X-Trade» – это компания, которой доверяют. У нас есть своя мастерская, магазин и интернет-магазин, где представлен широчайший ассортимент сезонных товаров, таких как велосипеды, гироскутеры, самокаты, елки, саньки и тюбинги а также аксессуары и запчасти для них. Мы предоставляем высокий уровень обслуживания и оперативную доставку покупки на дом в заранее согласованное с Вами время!
</p>
                    <p>В зимний сезон мы предлагаем вам ремонт сноубордов, ремонт горных лыж, а также ботинок и креплений к ним. Также у нас есть прокат коньков и тюбингов. Мы предлагаем продукцию только зарекомендовавших себя на мировом рынке брендов и предоставляем полноценный ski-сервис, помогая Вам заботиться о Вашем спортивном инвентаре и всегда поддерживать его в работоспособном и безопасном состоянии.</p>
<p><img src="" style="font-size: 16px; cursor: pointer; max-width: 100%; height: auto; vertical-align: middle; color: rgb(51, 51, 51); font-family: &quot;Trebuchet MS&quot;, &quot;Helvetica Neue&quot;, Helvetica, Tahoma, sans-serif; background-color: rgb(255, 255, 255);"></p></div>
<script>
  var uni_page_name="О компании";
</script>

            </div>
        </div>
    
</main>

{% endblock %}
