{% extends "shop/base.html" %}
{% load static %}

{% block title %} Ремонт велосипедов в Нур-Султане. Веломастерская X-Trade. Велоремонт по выгодным ценам. {% endblock %}

{% block content %}

<main id="main-content">
    <div class="ks_wrap"><section class="kss_breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <div class="container"><div class="row align-items-center m-0"><ul>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="/" class="kss_home" itemprop="item">
                    <meta itemprop="name" content="Главная"><meta itemprop="position" content="1"></a></li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="veloservice/" itemprop="item">
                            <span itemprop="name">Велосервис</span><meta itemprop="position" content="2"></a></li><li>
                                <span class="last">Ремонт велосипедов</span></li></ul></div></div></section></div>
                                <!-- internal navigation breadcrumbs --><!-- plugin hook: 'frontend_header' -->        
                                <div id="page" role="main">
                                    <style>.text-center{text-align:center;}.text-right{text-align:right}.text-justify{text-align:justify;}</style>
                                    <style>
.crm-after-submit-block {
    color: white;
}
</style>
<div class="ks_wrap">


<div class="kss_wrap mb-6">
    <section class="kss_section3 kss_mod-bike">
        <div class="container">
            <h2 class="kss_h1 kss_h1--bordered kss_h1--bordered--center">Наши преимущества</h2>
            <div class="kss_tabs-content-wrap">
                <div class="kss_tabs kss_tabs-6">
                    <div class="kss_tab active" data-id="1">
                        <div class="kss_img"></div>
                        <div class="kss_title">Гарантия за качество работ</div>
                    </div>
                    <div class="kss_hidden">
                        <div class="kss_tab-content kss_type1" style="background-image:url({% static "img/remont.jpg" %});">
                            <div class="kss_title"> <h2 style="margin-bottom:0px;" class="kss_h1 kss_h1--bordered kss_h1--bordered--center">Опытные мастера спортсмены</h2><span style="font-size:40px;font-weight:bold;">3459</span><br>велосипедов отремонтировано за 7 лет работы</div>
                        </div>
                        
                        </div>
                    <div class="kss_tab" data-id="2">
                        <div class="kss_img"></div>
                        <div class="kss_title">Наши цены ниже чем у конкурентов</div>
                    </div>
                    <div class="kss_hidden">
                        <div class="kss_tab-content kss_type1" style="background-image: url({% static "img/vel.jpg" %});">
                            <div class="kss_title"><br><br><br><br></div>
                        </div>
                    </div>
                    <div class="kss_tab" data-id="3">
                        <div class="kss_img"></div>
                        <div class="kss_title">Любые велосипеды и велоконструкции</div>
                    </div>
                    <div class="kss_hidden">
                        <div class="kss_tab-content kss_type1" style="background-image: url({% static "img/vel.jpg" %});">
                                <div class="kss_title"><br><br><br><br></div>
                            </div>
                    </div>
                    <div class="kss_tab" data-id="4">
                        <div class="kss_img"></div>
                        <div class="kss_title">Ремонт за 24 часа</div>
                    </div>
                    <div class="kss_hidden">
                            <div class="kss_tab-content kss_type1" style="background-image: url({% static "img/img228.jpg" %});">
                            <div class="kss_title">Крупный ремонт вашего велосипеда в наших руках<br> длится не более 24 часов*,<br> а мелкий мы сделаем при вас!<br></div>
                            <div class="kss_notes">* - Внимание, услуга платная</div>
                            </div>
                        </div>
                    <div class="kss_tab" data-id="5">
                        <div class="kss_img"></div>
                        <div class="kss_title">Ремонт без очередей и трудностей</div>
                    </div>
                    <div class="kss_hidden">
                            <div class="kss_tab-content kss_type1 gradient" style="background-image: url({% static "img/img230.jpg" %});background-position: center;">
                                <div class="kss_title">Запишитесь на ремонт онлайн, и мы будем вас ждать с чашечкой кофе. <br>А очереди будут не для вас.</div>
                            </div>
                        </div>
                    <div class="kss_tab" data-id="6">
                        <div class="kss_img"></div>
                        <div class="kss_title">Лучшие способы оплаты</div>
                    </div>
                    <div class="kss_hidden">
                            <div class="kss_tab-content kss_type1 gradient" style="background-image: url({% static "img/img71.jpg" %});background-position: center;">
                                <div class="kss_title">Мы принимаем оплату любыми способами<br> Наличные <span class="kss_line-v"></span> Банковские карты <span class="kss_line-v"></span> Безналичный расчет</div>
                            </div>
                    </div>
                </div>
                <div class="kss_tabs-content">
                    <div class="kss_tab-content active" data-id="1">
                        <div class="kss_tab-content kss_type1" style="background-image: url({% static "img/remonvel.jpg" %});">
                            <div class="kss_title"> <h2 style="margin-bottom:0px;" class="kss_h1 kss_h1--bordered kss_h1--bordered--center">Опытные мастера спортсмены</h2><span style="font-size:40px;font-weight:bold;">3459</span><br>велосипедов отремонтировано за 7 лет работы</div>
                        </div>
                    </div>
                    <div class="kss_tab-content" data-id="2">
                        <div class="kss_tab-content kss_type1" style="background-image: url({% static "img/vel.jpg" %});">
                            <div class="kss_title"><br><br><br><br></div>
                        </div>
                    </div>
                    <div class="kss_tab-content" data-id="3">
                        <div class="kss_tab-content kss_type1 gradient" style="background-image: url({% static "img/vel.jpg" %});">
                        </div>
                    </div>
                    <div class="kss_tab-content" data-id="4">
                        <div class="kss_tab-content kss_type1" style="background-image: url({% static "img/img228.jpg" %});">
                            <div class="kss_title">Крупный ремонт вашего велосипеда в наших руках<br> длится не более 24 часов*,<br> а мелкий мы сделаем при вас!<br><br></div>
                            <div class="kss_notes">* - Внимание, услуга платная</div>
                        </div>
                    </div>
                    <div class="kss_tab-content" data-id="5">
                        <div class="kss_tab-content kss_type1 gradient" style="background-image: url({% static "img/img230.jpg" %});background-position: center;">
                            <div class="kss_title">Запишитесь на ремонт онлайн, и мы будем вас ждать с чашечкой кофе. <br>А очереди будут не для вас.</div>
                        </div>
                    </div>
                    <div class="kss_tab-content" data-id="6">
                        <div class="kss_tab-content kss_type1 gradient" style="background-image: url({% static "img/img71.jpg" %});background-position: center;">
                            <div class="kss_title">Мы принимаем оплату любыми способами<br> Наличные <span class="kss_line-v"></span> Банковские карты <span class="kss_line-v"></span> Безналичный расчет</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


    

<div class="kss_wrap mb-6">
<section class="kss_feedback kss_mod2" style="background-image: url({% static "img/unas.jpg" %});background-position: bottom;">
    <div class="container">
        <div class="row align-items-center justify-content-between kss_top2">
            <div class="col-md-7">
                <h2 class="kss_h1 kss_h1--white mb-0">Выполним ремонт велосипеда<br>быстро и качественно</h2>
            </div>
            <div class="col-md-4">
                
                
<link rel="stylesheet" href="{% static "img/form.css" %}">
<script src="{% static "img/crm.frontend.form.js" %}"></script>


<script src="{% static "img/jquery-1.11.1.min.js" %}"></script>
<script>
    var wa_crm_form_jquery = jQuery.noConflict(true);
</script>








<div class="crm-form-block" style="width: 300px; min-height: 337px;" id="crm-form-block-61f02a1977409">

<div class="crm-form-fields-block">
    <div class="crm-form-fields">
        <form id="crm-form-block-61f02a1977409-form" method="post" action="" enctype="multipart/form-data" target="crm-form-block-61f02a1977409-form-target" autocomplete="off">
                                        <div class="crm-form-field crm-caption-style-none" data-id="!paragraph" data-uid="!paragraph">
    <div class="crm-form-field-line crm-form-field-1st-line">
        <div class="crm-form-field-col crm-caption-col">
            <span class="crm-caption">
                                        Абзац текста
                                                    </span>
        </div>
        <div class="crm-form-field-col crm-input-col">
                        </div>
    </div>
                <div class="crm-form-field-line crm-form-field-2st-line">
            <div class="crm-form-field-col crm-input-col">
                <div class="crm-paragraph"><p><strong><span style="color: rgb(255, 255, 255); font-size: 24px;">ОСТАВЬТЕ ЗАЯВКУ</span></strong></p></div>

                <div class="crm-error-msg-block" data-id="!paragraph" data-uid="!paragraph"></div>
            </div>
        </div>
        </div>

                                        <div class="crm-form-field crm-caption-style-none" data-id="firstname" data-uid="firstname">
    <div class="crm-form-field-line crm-form-field-1st-line">
        <div class="crm-form-field-col crm-caption-col">
            <span class="crm-caption">
                                        Имя
                                     *                </span>
        </div>
        <div class="crm-form-field-col crm-input-col">
                        </div>
    </div>
                <div class="crm-form-field-line crm-form-field-2st-line">
            <div class="crm-form-field-col crm-input-col">
                <input class="crm-firstname-input crm-required-input" placeholder="Имя" title="Имя" type="text" name="crm_form[firstname]" value="">
                <div class="crm-error-msg-block" data-id="firstname" data-uid="firstname"></div>
            </div>
        </div>
        </div>

                                        <div class="crm-form-field crm-caption-style-none" data-id="phone" data-uid="phone">
    <div class="crm-form-field-line crm-form-field-1st-line">
        <div class="crm-form-field-col crm-caption-col">
            <span class="crm-caption">
                                        Телефон
                                     *                </span>
        </div>
        <div class="crm-form-field-col crm-input-col">
                        </div>
    </div>
                <div class="crm-form-field-line crm-form-field-2st-line">
            <div class="crm-form-field-col crm-input-col">
                <p><input class="crm-phone-input crm-required-input" title="Телефон" type="text" name="crm_form[phone]" value="" placeholder="+7 (___) ___-__-__"></p>
                <div class="crm-error-msg-block" data-id="phone" data-uid="phone"></div>
            </div>
        </div>
        </div>

                                        <div class="crm-form-field crm-caption-style-none" data-id="stranitsa_otpravki_formy" data-uid="stranitsa_otpravki_formy">
    <div class="crm-form-field-line crm-form-field-1st-line">
        <div class="crm-form-field-col crm-caption-col">
            <span class="crm-caption">
                                        Страница отправки формы
                                                    </span>
        </div>
        <div class="crm-form-field-col crm-input-col">
                        </div>
    </div>
                <div class="crm-form-field-line crm-form-field-2st-line">
            <div class="crm-form-field-col crm-input-col">
                <input class="crm-stranitsa_otpravki_formy-input" placeholder="Ремонт велосипедов " title="Страница отправки формы" type="text" name="crm_form[stranitsa_otpravki_formy]" value="">
                <div class="crm-error-msg-block" data-id="stranitsa_otpravki_formy" data-uid="stranitsa_otpravki_formy"></div>
            </div>
        </div>
        </div>

                            <div class="crm-error-msg crm-error-common"></div>
            <div class="crm-submit-button-wrapper">
                <input type="hidden" name="crm_form[id]" value="27">
                <input class="crm-form-submit-button button green" type="submit" value="ОСТАВИТЬ ЗАЯВКУ">
                <i class="icon16 loading crm-loading" style="display: none;"></i>
            </div>
        </form>

        <iframe src="javascript:true" name="crm-form-block-61f02a1977409-form-target" id="crm-form-block-61f02a1977409-form-target" style="width:0 !important;height:0 !important;border:0 !important;" src="./RemontVelo_files/saved_resource(2).html"></iframe>

        <div class="crm-after-submit-block">
        </div>
    </div>
</div>
</div>
<script>
(function (jQuery) {
    crmFrontendForm('crm-form-block-61f02a1977409', false, {
        wa_url: "\/",
        wa_version: "2.4.1",
        lang: "ru",
        jQuery: typeof wa_crm_form_jquery !== 'undefined' ? wa_crm_form_jquery : jQuery,
        validate_messages: {
            required: "Это поле обязательное",
            passwords_not_match: "Пароли не совпадают"
        },
        messages: {
            server_error: "Ошибка сервера",
        }
    });
    if (typeof wa_crm_form_jquery !== 'undefined') {
        wa_crm_form_jquery == undefined;
    }
})(jQuery);
</script>

                <script>
                    $('input[name="crm_form[id]"][value="27"]').closest('form').find('.crm-form-submit-button').on('click', function(){
                        if(typeof ym !== 'undefined'){
                            ym(38887875,'reachGoal','veloremont2');
                        }
                        return true;
                    });
                </script>
            </div>
        </div>
    </div>
</section>

<div id="prokat_modal_bron" class="modal_form_block" style="display:none;">
    <div class="crm-form-block">
        <div class="crm-form-fields-block">
            <div class="crm-form-fields">
                <form class="mycrm_form" method="post" action="" enctype="multipart/form-data" autocomplete="off">
                    <div class="crm-form-field " data-id="firstname" data-uid="firstname">
                        <div>
                            <div class="crm-form-field-col crm-caption-col">
                    <span class="crm-caption">Имя</span>
                            </div>
                            <div class="crm-form-field-col crm-input-col">
                                <input class="crm-firstname-input" title="Имя" type="text" name="crm_form[firstname]" value="">
                                <div class="crm-error-msg-block" data-id="firstname" data-uid="firstname"></div>
                            </div>
                        </div>
                    </div>
                    <div class="crm-form-field" data-id="phone" data-uid="phone">
                        <div>
                            <div class="crm-form-field-col crm-caption-col">
                    <span class="crm-caption">Телефон *</span>
                            </div>
                            <div class="crm-form-field-col crm-input-col">
                                <p><input class="crm-phone-input crm-required-input" title="Телефон" type="text" name="crm_form[phone]" value="" placeholder="+7 (___) ___-__-__"></p>
                                <div class="crm-error-msg-block" data-id="phone" data-uid="phone"></div>
                            </div>
                        </div>
                    </div>
                    <div class="crm-form-field crm-caption-style-none" data-id="!paragraph" data-uid="!paragraph">
                        <div>
                            <div class="crm-form-field-col crm-input-col">
                                <div class="crm-paragraph"><p>Нажимая на кнопку&nbsp;«Отправить», Вы соглашаетесь на
                                    обработку Персональных данных и нашу <a href="privacy" target="_blank">Политику&nbsp;конфиденциальности</a>
                                </p></div>
                            </div>
                        </div>
                    </div>
                    <input class="crm-stranitsa_otpravki_formy-input" type="hidden" name="crm_form[stranitsa_otpravki_formy]" value="Ремонт велосипедов">
                    <div class="crm-submit-button-wrapper">
                        <input type="hidden" name="crm_form[forma_otpravki]" value="">
                        <input type="hidden" name="crm_form[id]" value="19">
                        <input class="crm-form-submit-button button green" type="submit" value="Отправить" onclick="">
                        <em class="icon16 loading crm-loading" style="display: none;"></em>
                    </div>
                    <input type="hidden" name="crm_form[locale]" value="ru_RU">
                </form>
                <div class="crm-after-submit-block">
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div class="kss_wrap">
<section class="kss_principals">
    <div class="container">
           <h2 class="kss_h1 kss_h1--bordered kss_h1--bordered--center">Наши нерушимые принципы</h2>
           <div class="kss_tabs-content-wrap">
               <div class="kss_tabs kss_tabs-5">
                <div class="kss_tab">
                    <div class="kss_img"></div>
                    <div class="kss_title">Ремонт не должен стоить дороже новой детали или велосипеда.</div>
                </div>
                <div class="kss_tab">
                    <div class="kss_img"></div>
                    <div class="kss_title">Оказывать услуги по минимально возможной цене при максимально высоком качестве.</div>
                </div>
                <div class="kss_tab">
                    <div class="kss_img"></div>
                    <div class="kss_title">Не менять хорошее на новое.</div>
                </div>
                <div class="kss_tab">
                    <div class="kss_img"></div>
                    <div class="kss_title">Сроки надо соблюдать, а счет должен быть согласован.</div>
                </div>	
                <div class="kss_tab">
                    <div class="kss_img"></div>
                    <div class="kss_title">Клиент должен понимать, за что он заплатил деньги.</div>
                </div>
            </div>
        </div>
   </div>
</section>
</div>
<div class="kss_wrap">

<section class="kss_attention">
    <div class="container">
        <div class="kss_img"></div>
        <h2 class="kss_h2">Если мы нарушим один из этих принципов,<br> то стоимость ремонта уменьшится на 30%!</h2>
        <div class="kss_img"></div>
    </div>
</section>
</div>


<div class="kss_wrap">
<div class="container">
    <br>
    <p>Каждый велолюбитель рано или поздно задается вопросом: «Где отремонтировать велосипед». Наматывая километры пробега, износ деталей неизбежен. Своевременное техническое обслуживание помогает избежать дорогостоящего ремонта.</p>

    <p>Вопрос велоремонта встает еще острее стоит только вбить в поиске: «ремонт велосипедов». Среди сотен веломастерских, чуть ли не каждая заявляет, что она номер один на рынке велоремонта в Казахстане. Но на самом деле специалистов мало. Каждую весну появляются новые велосипедные мастерские с малоопытными мастерами,  а затем закрываются в конце сезона. Мало кто выдерживает конкуренцию в велобизнесе в силу сезонности. Помимо непрофессионалов, есть еще такие, кто выставит Вам счет за полное техническое обслуживание, хотя на самом деле просто протрут тряпочкой велосипед и настроят скорости. Чтобы получить по-настоящему качественный ремонт, ищите не просто тех, кто может починить велосипед, а тех, кто работает уже много лет и дорожит своей репутацией.</p>

    <p>Наша компания занимается ремонтом велосипедов более 2 лет и при этом работает круглогодично.</p>

    
    <p>Доверьте свой велосипед в руки профессионалов!</p>
</div>
</div>

</div></div>
<script>
var uni_page_name="Ремонт велосипедов";
</script>


</main>
{% endblock %}