{% extends "shop/base.html" %}
{% load static %}

{% block title %} ТО велосипеда в Нур-Султане. Техническое обслуживание велосипеда по низкой цене в X-trade. {% endblock %}

{% block content %}


<main id="main-content">
    <div class="ks_wrap">
        <section class="kss_breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <div class="container"><div class="row align-items-center m-0"><ul>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a href="/" class="kss_home" itemprop="item">
                        <meta itemprop="name" content="Главная"><meta itemprop="position" content="1"></a></li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/veloservice" itemprop="item">
                                <span itemprop="name">Велосервис</span><meta itemprop="position" content="2"></a>
                            </li><li><span class="last">Техническое обслуживание велосипеда</span></li></ul>
                        </div></div></section></div>
                         <div class="cols-2">
                             <div class="sidebars-outer">
    
                            </div>
            <div class="js-content content content-block  with-left-sidebar   " style="min-height: 0px;">
                <div id="page" role="main"><style>.text-center{text-align:center;}.text-right{text-align:right}.text-justify{text-align:justify;}</style><p style="text-align: center"><span style="font-size: 18px;">Мы обеспечим бесперебойную работу Вашего велосипеда на 3 года вперед!</span></p>

<p><span style="font-size: 14px;">Техническое обслуживание,&nbsp;это та процедура,&nbsp;которой мы особенно гордимся. По результатам ТО клиент получает полностью исправный велосипед,&nbsp;с полным отчетом о проделанных работах. Вне зависимости от технического состояния, мы "вскрываем" каждый элемент,&nbsp;каждый узел и подвергаем его обслуживанию.</span></p>

<figure style="text-align: center;"><img src="{% static "img/teh-obsluzhivanie.jpeg" %}"></figure>

<p>Первым делом велосипед моется, эта услуга стоит 200 р. Мы не боимся мыть сильным давлением воды, тк в ближайшие 3-4 часа, а именно столько длится ТО, велосипед будет разобран до рамы. Подшипники рулевой, каретки, втулок колес будут перебраны на высокотемпературную, высокоадгезионную и дорогущую смазка Castrol LMX, изначально предназначенная для высоконагруженных подшипников промышленных станков!</p>

<p><img src="{% static "img/obsluzhivanie-rulevoi-2.jpeg" %}" alt="обслуживание рулевой велосипеда" width="49%">
<img src="{% static "img/rulevayz-2.jpeg" %}" alt="обслуживание тормозов велосипеда" width="49%"></p>

<p>Тормозные колодки шлифуются,&nbsp;дабы устранить замасленность и неровность, образующуюся в процессе эксплуатации.</p>

<p>Вилка половинится. 95% современных вилок, вне зависимости от стоимости идут с притирочной смазкой. После года катания, ее необходимо заменить на свежую, рабочую!</p>

<figure style="text-align: center;"><img src="{% static "img/pereborka-vilki.jpeg" %}" style="width: 800px; height: 450px;" width="800" height="450"></figure>

<p>Спицы на колесах&nbsp;будут протянуты, все биения и восьмерки будут устранены.&nbsp;</p>

<p><img src="{% static "img/pereborka-perednei-vtulki-4.jpeg" %}" alt="обслуживание рулевой велосипеда" width="33%">
<img src="{% static "img/pereborka-vtulok-1.jpeg" %}" alt="обслуживание рулевой велосипеда" width="33%">
<img src="{% static "img/pereborka-zadnei-vtulki-3.jpeg" %}" alt="обслуживание тормозов велосипеда" width="33%"></p>

<p></p>

<p><span></span>Каждый элемент независимо от его текущего состояния вскрывается и обслуживается,&nbsp;только так мы будем уверены, что ближайшие 3 года Вы забудете,&nbsp;что такое "лезть" в велосипед и Ваш конь не подведет Вас в самый неподходящий момент.&nbsp; Если какой-то элемент требует дополнительных работ,&nbsp;то мы созваниваемся и решаем, каким лучше образом решить эту проблему.</p>

<p>После нашего технического обслуживания велосипеда Вам не останется, только перед сезоном проверять настройки и за общим состоянием трущихся элементов (цепь, покрышки и т.д.).</p>


<p style="text-align: center"><strong>Цены на техническое обслуживание велосипедов</strong></p>

<table tg>

<tbody> 

<tr> 

<td><strong>Работа </strong></td> 

<td><strong>Стоимость</strong></td> 

</tr> 

<tr> 

<td>Капитальное ТО хардтейл (процесс описаный выше)</td> 

<td>12 000 тенге.</td> 

</tr> 

<tr> 

<td>Стандартное ТО хардтейл (устранение дефектов выявленных в ходе диагностики)</td> 

<td><span class="backcolor_26">8000  тенге</span></td> 

</tr> 

<tr> 

<td>Легкое ТО (настройка переключателей,&nbsp;тормозов, смазка цепи, накачивание колес)</td> 

<td>5000 тенге.</td> 

</tr> 

</tbody>

</table></div>
<script>
  var uni_page_name="Техническое обслуживание велосипеда";
</script>

            </div>
        </div>
    
</main>
{% endblock %}