
{% extends "shop/base.html" %}
{% load static %}

{% block title %} Велосервис в Нур-Султане. Сервис по обслуживанию велосипедов по низким ценам{% endblock %}

{% block content %}


<main id="main-content"><div class="ks_wrap"><section class="kss_breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
    <div class="container"><div class="row align-items-center m-0"><ul>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/" class="kss_home" itemprop="item"><meta itemprop="name" content="Главная">
            <meta itemprop="position" content="1"></a></li><li><span class="last">Велосервис</span></li>
        </ul></div></div></section></div><!-- internal navigation breadcrumbs --><!-- plugin hook: 'frontend_header' -->    
           
            <div id="page" role="main"><style>.text-center{text-align:center;}.text-right{text-align:right}.text-justify{text-align:justify;}
            </style><div class="ks_wrap">
    <section class="kss_section4 mod2">
    <div class="container" style="text-align: justify">
    	<h1>Велосервис</h1>
    	<div class="row kss_blocks">
    		<div class="col-md-12 kss_block kss_block-uno">
    			<div class="gradient" style="background-image: url({% static "img/remont.jpg" %});" data-ahref="/remont">
    				<h2 class="kss_h1 kss_h1--bordered kss_h1--bordered--center">Ремонт велосипедов</h2>
    				<p>Полный спектр услуг и запчастей<br>для любых велосипедов</p>
    				<div class="text-center">
    					<a href="/remont" class="kss_btn kss_velo_btn kss_btn--oval mr-3">Подробнее</a>
    				</div>
    			</div>
    		</div>
    		<div class="col-md-4 kss_block kss_block-trio">
    			<div class="gradient" style="background-image: url({% static "img/vyezd.jpg" %});" data-ahref="/vyezdem">
    				<h2 class="kss_h1 kss_h1--bordered kss_h1--bordered--center">Ремонт на дому</h2>
    				<p>Выездной мастер <br>по городу</p>
    				<div class="text-center">
    				    <a href="/vyezdem" class="kss_btn kss_velo_btn kss_btn--oval mr-3">Подробнее</a>
    				</div>
    			</div>
    		</div>
    		<div class="col-md-4 kss_block kss_block-trio">
    			<div class="gradient" style="background-image: url({% static "img/TO.jpg" %});" data-ahref="/tovelobike">
    				<h2 class="kss_h1 kss_h1--bordered kss_h1--bordered--center">Техническое обслуживание</h2>
    				<p>От подготовки к сезону до<br> капитального ремонта</p>
    				<div class="text-center">
    					<a href="/tovelobike" class="kss_btn kss_velo_btn kss_btn--oval mr-3">Подробнее</a>
    				</div>
    			</div>
    		</div>
    		<div class="col-md-4 kss_block kss_block-trio">
    			<div class="gradient" style="background-image: url({% static "img/xranenya.jpg" %});" >
    				<h2 class="kss_h1 kss_h1--bordered kss_h1--bordered--center">Хранение</h2>
    				<p>Полная безопасность <br> для Вашего велосипеда</p>
    				<div class="text-center">
    					<a class="kss_btn kss_velo_btn kss_btn--oval mr-3">Подробнее</a>
    				</div>
    		</div>
    	</div>
            
            
    	</div>
    	 </div>
    	 
    	     <br><hr>
<div class="kss_wrap">
    <div class="container">
        <br>
        <p>Наш велосипедный сервис включает в себя весь спектр услуг по ремонту и обслуживанию велосипедов:</p>

        <p><strong>Ремонт велосипедов.</strong> У нас можно записаться на ремонт велосипеда на удобное время. Если велосипеду требуется мелкий ремонт, мы выполним его сразу. В более сложных случаях – в течение суток. Наша цель, чтобы ремонт был рентабелен. Мы гарантируем, что ремонт не будет стоить дороже, чем покупка нового велосипеда, а владелец получит полную информацию о том, за что он платит и всю отчетную документацию по произведенным работам.</p>


        <p><strong>Техническое обслуживание.</strong> Мы производим обслуживание любых велосипедов, кроме вилок Lefty. Особый упор мы делаем на сервис велосипедов GT, Specialized, Trek, Giant, Scott, Stels.</p>

        <p><strong>Хранение.</strong> Чтобы велосипед не мешался в квартире в зимнее время, его можно сдать на ответственное хранение. За это время мы подготовим его к новому сезону и бережно законсервируем до первых лучей весеннего солнца.</p>
        <p><strong>Ремонт на дому.</strong> Мобильный велосервис позволяет воспользоваться услугами профессионалов на дому, в удобное для Вас время. Если поломка окажется более серьезной, чем предполагалось изначально, мастер сам заберет велосипед в мастерскую.</p>
        <p><strong>Расценки на ремонт.</strong> Принимая на обслуживание велосипеды, мы стараемся поддерживать минимальные цены при сохранении высокого качества выполняемых работ – в этом легко убедиться, посетив любой наш велосервис в Нур-Султане.</p>
        <p>Если Вы давно не можете наладить работу Вашего велосипеда или «железный конь» подвел Вас в самый неподходящий момент, а под рукой нет инструментов - нужна помощь специалистов. Наш сервис велосипедов может потребоваться как профессиональному спортсмену, так и простому любителю велоезды. Наши мастера легко и быстро починят любые велосипеды и велоконструкции.</p>
        
    </div>
</div>

    </section>

</div></div>
<script>
  var uni_page_name="Велосервис";
</script>
</main>
{% endblock %}