{% extends "shop/base.html" %}
{% load static %}

{% block title %} X-Trade график {% endblock %}

{% block content %}

<main id="main-content">
    <div class="ks_wrap"><section class="kss_breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList"><div class="container"><div class="row align-items-center m-0"><ul><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="/xtradeadres" class="kss_home" itemprop="item">
            <meta itemprop="name" content="Главная"><meta itemprop="position" content="1"></a></li><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="/xtradeadres" itemprop="item"><span itemprop="name">Контакты</span>
                    <meta itemprop="position" content="2"></a></li><li><span class="last">X-Trade </span></li></ul></div></div></section></div><!-- internal navigation breadcrumbs --><!-- plugin hook: 'frontend_header' -->  <div class="cols-2"><div class="sidebars-outer">
    
</div>
<div class="js-content content content-block  with-left-sidebar   " style="min-height: 0px;">
<div id="page" role="main"><p><strong>Адрес:</strong> <span style="font-size: 14px;">ул. Жургенов 27.</span><br></p>

<p><span style="font-size: 18px;"></span></p>

<p>Магазин <strong>X-Trade kz</strong>&nbsp;оказывает следующие виды услуг:</p>
<ul> 
<li>Ремонт велосипедов, самокатов и гироскутеров</li> 
<li>Продажа велосипедов</li>
<li>Выдача заказов интернет-магазина</li>
<li>Продажа сезонных товаров</li>
<li>Ремонт велосипедов на выезд</li> 
</ul>
<p><strong><span style="font-size: 18px;">График работы:</span></strong></p>
<table width="400"> 

<tbody> 

<tr> 

<td><span style="font-size: 16px;">Пн.</span></td> 

<td><span style="color: rgb(255, 0, 0);"><span style="color: rgb(0, 0, 0);">10:00 до 20:00</span></span></td> 

</tr> 

<tr> 

<td><span style="font-size: 16px;">Вт.</span></td> 

<td><span style="color: rgb(255, 0, 0);"><span style="color: rgb(0, 0, 0);">10:00 до 20:00</span></span><br></td> 

</tr> 

<tr> 

<td><span style="font-size: 16px;">Ср.</span></td> 

<td><span style="color: rgb(0, 0, 0);">10:00 до 20:00&nbsp;</span><br></td> 

</tr> 

<tr> 

<td><span style="font-size: 16px;">Чт.</span></td> 

<td><span style="color: rgb(255, 0, 0);"><span style="color: rgb(0, 0, 0);">10:00 до 20:00</span></span><br></td> 

</tr> 
<tr> 
<td><span style="font-size: 16px; color: rgb(0, 0, 0);">Пт.</span></td> 
<td>10:00 до 20:00<br></td> 
</tr>
<tr>
<td><span style="font-size: 16px;">Сб.</span></td> 
<td><span style="color: rgb(0, 0, 0);">10:00 до 20:00</span></td> 
</tr>
<tr>
<td><span style="font-size: 16px;">Вс.</span></td> 
<td>10:00 до 20:00<br></td> 
</tr>
</tbody> 
</table>
<p></p>
<p></p>
<p>

</p>



<p> <!---
    <img src="./X-place adres_files/6-2.jpg" style="font-size: 16px; cursor: pointer; max-width: 100%; height: auto; vertical-align: middle; color: rgb(51, 51, 51); font-family: &quot;Trebuchet MS&quot;, &quot;Helvetica Neue&quot;, Helvetica, Tahoma, sans-serif; background-color: rgb(255, 255, 255);"> -->
</p></div>
<script>
var uni_page_name="X-trade";
</script>

</div>
</div>

</main>
{% endblock %}