{% extends "shop/base.html" %}
{% load static %}

{% block title %} X-Trade график {% endblock %}

{% block content %}
<main id="main-content">
    <div class="ks_wrap"><section class="kss_breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList"><div class="container"><div class="row align-items-center m-0"><ul><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="file:///C:/Users/22706/Desktop/X-place/X-place.kz/X-Place.html" class="kss_home" itemprop="item"><meta itemprop="name" content="Главная"><meta itemprop="position" content="1"></a></li><li><span class="last">Контакты</span></li></ul></div></div></section></div><!-- internal navigation breadcrumbs --><!-- plugin hook: 'frontend_header' -->  <div class="cols-2"><div class="sidebars-outer">
    
                        </div>
        <div class="js-content content content-block  with-left-sidebar   " style="min-height: 1669px;">
            <ul class="sub-links"><li><a href="/xtradeadres">X-Trade график </a></li><li>
                <a href="/remont">Запись на ремонт</a>
            </li></ul>
            <div id="page" role="main">
            <div class="contact-page"><div class="contact-page__items">
                <div class="contact-page__text">Рады приветствовать Вас, в нашем сервисном центре X-Trade!
                    Мы занимаемся ремонтом велосипедов, а также спортивного снаряжения в Нур-султане.
                    Также Вы можете купить нужную Вам запчасть в нашем интернет-магазине, а мы поможем с ее доставкой, либо установкой!
                    <!-- <br>Как нас найти <a href="https://extreme-place.ru/contacts/xplace-south/">X-Trade_adress</a>. -->
                </div>
                <div class="contact-page__item"><div class="contact-page__icon bg-bs-color"><i class="fa fa-phone icon"></i></div>
                    <div class="contact-page__item-text"><div class="contact-page__item-title">Телефон</div>
                    <div class="nomer">8 775 701 99 78</div>    
                    </div></div>
                <div class="contact-page__item">
                    <div class="contact-page__icon bg-bs-color"><i class="fa fa-envelope"></i></div>
                    <div class="contact-page__item-text"><div class="contact-page__item-title">E-mail</div>
                        <div class="contact-page__item-phone">xtrade010@gmail.com</div></div></div>
                <div class="contact-page__item"><div class="contact-page__icon bg-bs-color"><i class="fa fa-map-marker icon"></i></div>
                    <div class="contact-page__item-text"><div class="contact-page__item-title">Адрес</div>
                        <div class="contact-page__item-phone">ул. Жургенов 27</div></div></div></div>
                        <div class="contact-page__form"><div class="contact-page_head h3">Обратная связь</div><div class="wa-form">
<form method="post" action="/contacts">
<div class="wa-field">
<div class="wa-name">Имя:</div>
<div class="wa-value"><input name="name" type="text" value="" autocomplete="off"></div>
</div>
<div class="wa-field">
<div class="wa-name">Email:</div>
<div class="wa-value">
  <input name="email" type="email" value="">
      </div>
</div>
<div class="wa-field">
<div class="wa-name">Сообщение:</div>
<div class="wa-value">
  <input type="hidden" name="subject" value="Запрос с сайта">
  <textarea name="body"></textarea>
      </div>
</div>
<div class="wa-field">
<div class="wa-value">

        </div>
</div>


<div class="wa-field">
<div class="wa-value wa-submit">
        <input type="submit" value="Отправить" name="send" onclick="">
</div>
</div>
</form>
</div>
</div></div> </div>
<script>
var uni_page_name="Контакты";
</script>

        </div>
    </div>

</main>
{% endblock %}